<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-Fidelity ( Chekout )</title>
    <link rel="stylesheet" href="../css/checkout1.css">
</head>
<body>
    <header>
        <a href="../views/detail1.html">
            <img src="../storage/img/checkout/back_arrow.png" alt="back">
        </a>
        <h1>Checkout</h1>
        <a href="../views/detail1.html">
            <img src="../storage/img/checkout/menu.png" alt="menu">
        </a>
    </header>
</body>
</html>