<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-Fidelity ( Detail )</title>
    <link rel="stylesheet" href="../css/detail4.css">
</head>
<body>
    <header>
        <div class="icon_header">
            <a href="../views/home.html">
                <img class="back" src="../storage/img/detail/Back.png" alt="back">
            </a>
            <input class="heart1" type="checkbox">
        </div>
        <img class="model1" src="../storage/img/detail/model4.png" alt="model1">
    </header>
    <main>
        <h1>Stylish winter look </h1>
        <div class="category">
            <img class="star" src="../storage/img/detail/star.png" alt="star">
            <p class="number">5.0</p>
            <p class="reviews">(7.932 reviews)</p>
        </div>
        <div class="counter-container">
            <button class="button">−</button>
            <input type="number" value="1" min="0" class="count">
            <button class="button">+</button>
        </div>
        <div class="Information">
            <p>Its simple and elegant shape makes it perfect for <br>
                those of you who like you who want minimalist <br>
                clothes <span>Read More. . .</span></p>
        </div>
        <hr class="line">
        <div class="Options">
            <p>Choose Size</p>
            <p>Color</p>
        </div>
        <div class="size-container">
            <input type="radio" id="size-s" name="size" class="size-input">
            <label for="size-s" class="size-label">S</label>
            <input type="radio" id="size-m" name="size" class="size-input">
            <label for="size-m" class="size-label">M</label>
            <input type="radio" id="size-l" name="size" class="size-input">
            <label for="size-l" class="size-label">L</label>
            <input type="radio" id="size-xl" name="size" class="size-input">
            <label for="size-xl" class="size-label">XL</label>
        </div>
        <div class="color-container">
            <input type="radio" id="color1" name="color" class="color-input">
            <label for="color1" class="color-label color-gray"></label>
            <input type="radio" id="color2" name="color" class="color-input">
            <label for="color2" class="color-label color-darkgray"></label>
            <input type="radio" id="color3" name="color" class="color-input">
            <label for="color3" class="color-label color-black"></label>
        </div>
    </main>
    <footer>
        <section class="total-price">
            <a href="../views/checkout4.html">
                <img src="../storage/img/detail/Main Icon.png" alt=""> Add to cart | 212.99 <samp>$249.99</samp>
            </a>
        </section>
    </footer>
</body>
</html>