<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-Fidelity ( Home )</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <h1>Hello, Welcome 👋</h1>
        <div class="description_user">
            <p>Nicolas Muskus</p>
            <img class="user" src="../storage/img/home/user.png" alt="user">
        </div>
        <div class="user_search">
            <div class="input_search">
                <input class="search" type="search" name="Search" id="search" placeholder="Search clothes. . .">
            </div>
        </div>
    </header>
</body>
</html>