<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-Fidelity ( Home )</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <h1>Hello, Welcome 👋</h1>
        <div class="description_user">
            <p>Nicolas Muskus</p>
            <img class="user" src="../storage/img/home/user.png" alt="user">
        </div>
        <div class="user_search">
            <div class="input_search">
                <input class="search" type="search" name="Search" id="search" placeholder="Search clothes. . .">
                <button class="menu"><img src="../storage/img/home/icon_menu.png" alt="menu"></button>
            </div>
        </div>
    </header>
    <ul class="category">
        <li class="category-item1">
            <a class="category-link1" href="home.html">
                <img src="../storage/img/home/icon_all_items.png" alt="All Items">
                All Items
            </a>
        </li>
        <li class="category-item">
            <a class="category-link" href="home.html">
                <img src="../storage/img/home/icon_dress.png" alt="Dress">
                Dress
            </a>
        </li>
        <li class="category-item">
            <a class="category-link" href="home.html">
                <img src="../storage/img/home/icon_T-Shirt.png" alt="T-Shirt">
                T-Shirt
            </a>
        </li>
        <li class="category-item">
            <a class="category-link" href="home.html">
                <img src="../storage/img/home/icon_jeans.png" alt="Jeans">
                Jeans
            </a>
        </li>
    </ul>
    <main>
        <div class="product1">
            <a href="/views/detail1.html">
                <img class="model1" src="../storage/img/home/model1.png" alt="model1">
            </a>
            <input  class="heart1" type="checkbox">
            <p class="product1head">Modern Light Clothes</p>
            <p class="product1category">T-Shirt</p>
            <p class="product1worth">$212.99</p>
            <img class="star1" src="../storage/img/home/icon_star.png" alt="icon_star">
            <p class="product1vall">5.0</p>
        </div>
        <div class="product2">
            <a href="/views/detail2.html">
                <img class="model2" src="../storage/img/home/model2.png" alt="model2">
            </a>
            <input  class="heart2" type="checkbox">
            <p class="product2head">Cool big jean</p>
            <p class="product2category">Jeans</p>
            <p class="product2worth">$194.99</p>
            <img class="star2" src="../storage/img/home/icon_star.png" alt="icon_star">
            <p class="product2vall">5.0</p>
        </div>
        <div class="product3">
            <a href="/views/detail3.html">
                <img class="model3" src="../storage/img/home/model3.png" alt="model3">
            </a>
            <input  class="heart3" type="checkbox">
            <p class="product3head">Urban Street Fit</p>
            <p class="product3category">Baggy Style</p>
            <p class="product3worth">$162.99</p>
            <img class="star3" src="../storage/img/home/icon_star.png" alt="icon_star">
            <p class="product3vall">5.0</p>
        </div>
        <div class="product4">
            <a href="/views/detail4.html">
                <img class="model4" src="../storage/img/home/model4.png" alt="model4">
            </a>
            <input  class="heart4" type="checkbox">
            <p class="product4head">Stylish winter look</p>
            <p class="product4category">Fur-Trimmed Style</p>
            <p class="product4worth">$122.99</p>
            <img class="star4" src="../storage/img/home/icon_star.png" alt="icon_star">
            <p class="product4vall">5.0</p>
        </div>
    </main>
</body>
</html>