@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    position: relative;
    top: 40px;
    left: 30px;
    font-family: "EncodeSans-Regular";
    font-weight: 100;
    font-size: 3vw;
    color: var(--color-2);
}

header p{
    position: relative;
    top: 45px;
    left: 30px;
    font-family: "EncodeSans-Bold";
    font-weight: 100;
    font-size: 4vw;
    color: var(--color-5);
}

.description_user{
    display: flex;
}

.user{
    position: relative;
    width: 40px;
    left: 210px;
    top: 27px;
    border-radius: 50px;
}

.user_search{
    display: flex;
}

.input_search{
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
}

.search{
    background-image: url(../storage/img/home/icon_search.png);
    background-repeat: no-repeat;
    background-position: 20px 8px;
    background-color: var(--color-4);
    padding-left: 50px;
    position: relative;
    width: 250px;
    height: 40px;
    border-color: var(--color-2);
    border-radius: 10px;
    font-family: "EncodeSans-Regular";
    font-size: 15px;
}

