@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    position: relative;
    top: 40px;
    left: 20px;
    font-family: "EncodeSans-Regular";
    font-weight: 100;
    font-size: 3vw;
    color: var(--color-2);
}

header p{
    position: relative;
    top: 40px;
    left: 20px;
    font-family: "EncodeSans-Bold";
    font-weight: 100;
    font-size: 4vw;
    color: var(--color-5);
}

.description_user{
    display: flex;
}

.user{
    position: relative;
    width: 40px;
    left:190px;
    top: 20px;
    border-radius: 50px;
}

::placeholder{
    color: var(--color-7);
}

.user_search{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.input_search{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

.search{
    background-image: url(../storage/img/home/icon_search.png);
    background-repeat: no-repeat;
    background-position: 18px 15px;
    background-size: 18px;
    padding-left: 45px;
    position: relative;
    width: 270px;
    height: 50px;
    color: var(--color-7);
    border-width: 1px;
    border-color:var(--color-3);
    border-radius: 10px;
    font-family: "EncodeSans-Regular";
    font-size: 15px;
}

.menu{
    position: relative;
    top: 1px;
    left: 10px;
    background-color: var(--color-1);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.category {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

.category-item1 {
    background:var(--color-1);
    padding-top: 7px;
    padding-left: 10px;
    border-radius:10px;
    width: 90px;
    height: 40px;
}

.category-item {
    padding: 10px;
    padding-top: 7px;
    padding-left: 10px;
    border-radius:10px;
    border: 1px solid var(--color-8);
    width: 90px;
    height: 40px;
}

.category-link1 {
    text-decoration: none;
    color:var(--color-6);
    font-family: "EncodeSans-Medium";
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    gap: 5px;
}

.category-link {
    text-decoration: none;
    color:var(--color-1);
    border-color: var(--color-1);
    font-family: "EncodeSans-Medium";
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.category-link img {
    width: 24px; 
    height: 24px;
}

.model1{
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: -6px;
    width: 200px;
}


@media (max-width: 400px){
    .user{
        left: 54%; 
    }
    .menu{
        left: 10px;
    }
    .search{
        width: 280px;
    }
    .category {
        display: flex;
        list-style: none;
        gap: 5px;
        margin-top: 30px;
        font-size: 3vw;
    }
    .category-link1 {
        color:var(--color-6);
        font-family: "EncodeSans-Medium";
        font-size: 3vw;
    }
    .category-link {
        color:var(--color-1);
        font-family: "EncodeSans-Medium";
        font-size: 3vw;
    }
    .category-item {
        padding: 10px;
        padding-top: 7px;
        padding-left: 10px;
        border-radius:10px;
        border: 1px solid var(--color-8);
        width: 90px;
        height: 40px;
    }
    .category-item1 {
        background:var(--color-1);
        padding-top: 7px;
        padding-left: 10px;
        border-radius:10px;
        width: 90px;
        height: 40px;
    }
}
@media (min-width:420px){
    .user{
        left: 57%; 
    }
    .menu{
        left: 6.5%;
    }
    .search{
        width: 305px;
    }
}